       body {
           margin-left: 60px;
           margin-right: 60px;
       }

       .gs_login_state {
           margin-left: 15px;
       }

       .gs_login_state button {
           margin-left: 15px;
       }
       .carousel-inner .carousel-item img{
        width: 33%;
        height: 33%;
    }
    .gs_lunbo{
        width: 600px;
        height: 600px;
      
    }


   